{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Group add:</h1>
        {{ form(form) }}
    </div>
{% endblock %}